*{
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header{
    width: 100%;
    display: flex;
    background-color: #1c1917;
    color: #f8fafc;
}
.section-h2{
    display: none;
}
.profile-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
main{
    display: flex;
    flex-grow: 1;
    width: 100%;
    color: #f8fafc;
    background-color: #262626;
}
section{
    padding: 20px;
}
.profile-informations{
    display: flex;
    flex-direction: column;
    width: 100%;
    form{
        flex-direction: column;
    }
    input{
        width: fit-content;
        margin: auto;
    }
}
.profile-informations form, .profile-informations h2{
    display: flex;
    justify-content: center;
    gap: 5px;
}


#description{
    font-family: 'Jost', sans-serif;
    resize: none;
}

input, textarea,select {
    outline: none;
    background-color: #1c1917;
	color: #f8fafc;
    border-radius: 10px;
    padding: 10px;
    border: none;
}
input[type=submit]{
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    margin-top: 10px;
}
input[type=submit]:hover{
    background-color: grey;
    transition: all 0.1s ease-in-out;
}
.btn{
    background-color:#262626;
    border: none;
    padding: 10px;
    border-radius: 10px;
    transition: 0.1s all ease-in-out;
    text-decoration: none;
    color: #f8fafc;
    font-size: medium;
}
.logout.btn:hover{
    background-color: rgb(127, 0, 0);
}
.btn:hover{
    background-color: grey;
    transition: 0.1s all ease-in-out;
}
