@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
*{
    font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.dropdown-btn {
  background-color: #1c1917;
  color: #f8fafc;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-btn:hover {
  background-color: #333;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #262626;
  min-width: 160px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  z-index: 1;
  padding: 0;
  list-style: none;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li a {
  color: #f8fafc;
  text-decoration: none;
  display: block;
}

.dropdown-menu li:hover {
  background-color: #444;
}